<app-auth>
<div *ngIf="authService.af.auth | async">
	<div><p class="lead">Hello, {{ (authService.af.auth | async)?.auth.uid }}</p></div>
	<button class="btn btn-default"  (click)="logout()">Logout</button>
	<button class="btn btn-default"  (click)="goToChannels()">Go to Channels</button>
</div>
<div *ngIf="!(authService.af.auth | async)">
	<p class="text-center"><i>demo email: kulibinnxx@yandex.ru | demo pass: mkdevmkdev</i></p>
	<form (ngSubmit)="login(userEmail, userPassword)" #loginForm="ngForm"> 
		<div class="form-group">
			<label for="email">email</label>
			<input type="email" class="form-control" required [(ngModel)]="userEmail" name="email" placeholder="your email address" #email="ngModel">
			<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
				Email is required
			</div>
		</div>
		<div class="form-group">
			<label for="password">password</label>
			<input type="password" class="form-control" required [(ngModel)]="userPassword" name="password" #password="ngModel">
			<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
				Password is required
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
		</div>
		<div [hidden]="!hasError" class="alert alert-danger">
			{{errorMessage}}
		</div>
	</form>
</div>
</app-auth>


