<app-auth>
	<h2>Register</h2>
	<div *ngIf="af.auth | async">
	<p>You are registered user.</p>
	<button class="btn btn-default"  (click)="logout()">Logout</button>
</div>
	<div *ngIf="!(af.auth | async)">
	<form (ngSubmit)="register(userEmail, userPassword, userName)" #loginForm="ngForm"> 
		<div class="form-group">
			<label for="email">email</label>
			<input type="email" class="form-control" required [(ngModel)]="userEmail" name="email" placeholder="your email address" #email="ngModel">
			<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
				Email is required
			</div>
		</div>
		<div class="form-group">
			<label for="name">name</label>
			<input type="text" class="form-control" required [(ngModel)]="userName" name="name" placeholder="your name please" #name="ngModel">
			<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
				Name is required
			</div>
		</div>
		<div class="form-group">
			<label for="password">password</label>
			<input type="password" class="form-control" required [(ngModel)]="userPassword" name="password" #password="ngModel">
			<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
				Password is required
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Register</button>
		</div>
		<div [hidden]="!hasError" class="alert alert-danger">
			{{errorMessage}}
		</div>
	</form>
	</div>
</app-auth>

