<h2>
  My channels
</h2>
<ul>
<li *ngFor="let channel of channels | async">{{channel.$key}}</li>
</ul>
<h3>Add a channel</h3>
<input type="text" #newitem />
<button (click)="addChannel(newitem.value)">Add</button>