<h1>
  {{title}}
</h1>
<nav>
	<a routerLink="/channels" routerLinkActive="active">Channels</a>
	<a routerLink="/login" routerLinkActive="active">Log in</a>
	<a routerLink="/register" routerLinkActive="active">Register</a>
</nav>
<router-outlet></router-outlet>
